/* 추가 (2021.05/22) */
.toc {
  position: fixed;
  width: 13rem;
  height: 530px;
  padding: 0 1rem;
  overflow: scroll;
}
.toc > .title {
  display: block;
  margin-bottom: 0.5rem;
  opacity: 40%;
}
.toc [class^="htag-level"] {
  margin: 0.4rem 0;
  opacity: 40%;
  cursor: pointer;
}
.toc [class^="htag-level"]:hover {
  color: rgb(112, 31, 187);
  opacity: 100%;
  text-decoration: underline;
}
.toc [class^="htag-level"].active {
  color: #8e4ef5;
  opacity: 100%;
}
.toc .htag-level1 {
  font-weight: 500;
  font-size: 1rem;
}
.toc .htag-level2 {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.toc .htag-level3 {
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 2rem;
}
.toc .htag-level4 {
  font-weight: 400;
  font-size: 0.7rem;
  margin-left: 3rem;
}

@media screen and (max-width: 1350px) {
  .toc {
    display: none;
  }
}
